@use '../../global/variables';

docs-component {
  .container {
    display: flex;
    justify-content: space-between;

    max-width: none;
    padding: 0;

    > site-backdrop {
      z-index: 2 !important;
    }
  }

  .content-container {
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  plugin-platforms {
    display: block;
    float: right;
    .platform {
      margin-left: 8px;
    }
  }

  table,
  td,
  th {
    border: 1px solid #eee;
    border-collapse: collapse;
  }
  table {
    width: 100%;

    th {
      text-align: left;
      padding: 4px;
    }
    td {
      font-size: 12px;
      line-height: 18px;
      vertical-align: top;
      padding: 4px;
      min-width: 150px;

      code {
        font-size: 12px;
      }
    }
  }

  .heading-link {
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #2d2d4c;

    &:hover {
      border-bottom: 1px solid transparent;
    }

    ion-icon {
      transition: opacity 0.2s;
      position: absolute;
      left: -24px;
      display: flex;
      align-items: center;
      opacity: 0;
    }

    &:hover ion-icon {
      opacity: 0.8;
    }
  }

  img {
    max-width: 100%;
    margin: 8px 0;
  }

  h1 .heading-anchor {
    display: none;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    .heading-anchor {
      opacity: 0;
      transition: opacity 0.2s;
      display: block;
      position: absolute;
      left: -25px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 512 512'%3E%3Ctitle%3Eionicons-v5-o%3C/title%3E%3Cpath d='M208,352H144a96,96,0,0,1,0-192h64' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:36px'/%3E%3Cpath d='M304,160h64a96,96,0,0,1,0,192H304' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:36px'/%3E%3Cline x1='163.29' y1='256' x2='350.71' y2='256' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:36px'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 0 2px;
      width: 28px;
      height: 34px;
      border: 0;
    }

    &:hover .heading-anchor {
      opacity: 0.8;
    }
  }

  h2 .heading-anchor {
    background-position: 0 6px;
  }

  h3 .heading-anchor {
    background-position: 0 3px;
  }

  ul {
    -webkit-padding-start: 16px;
    li,
    code {
      font-size: 14px;
      margin-top: 16px;
    }
  }

  p a {
    color: variables.$link-color;
    text-decoration: none;
    border: 0;

    &:hover {
      opacity: 0.7;
    }
  }

  p,
  ul,
  ol {
    code {
      padding: 1px 4px 2px;
      background-color: #ecf4fb;
      color: #16161d;
      border-radius: 3px;
    }
  }

  #introButton {
    background: variables.$link-color;
    color: white;
    text-decoration: none;

    border: none;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 14px;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    outline: none;
    letter-spacing: 0.04em;
    transition: all 0.15s ease;
    cursor: pointer;
  }

  #introButton:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
  }

  .btn.pull-left,
  .btn.pull-right {
    margin: 64px 8px 20px;
  }
}
